@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/global_tags';

.account{
    
    display: flex;
    justify-content: center;

    &__history-grid{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__grid-item{

    }
}