@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/global_tags';


.nav-bar{
    height: var(--nav-bar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $brand-color;
    padding: 0 var(--base-padding);

    &__container-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--base-padding);
    }

    &__logo-link{
        text-decoration: none;
        color: black;
    }

    &__nav{
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: var(--base-padding);
        align-items: stretch;
    }

    &__nav-item{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100px;
        text-decoration: none;
        color: $interaction-color;

        &--selected{
            color: black;
            border-bottom: $nav-bottom-border-width solid black;
            font-weight: 500;
            cursor: default;
        }
    }

    &__nav-item:hover{
        font-weight: bold;
    }

    &__logo{
        font-family: 'Vollkorn', serif;
        font-size: 2rem;
    }

    &__avatar{
        height: $avatar-dimen;
        width: $avatar-dimen;
        border-radius: 50%;
        background-image: url('../../assets/Mohan-muruge.jpg');
        background-position: left;
        background-size: cover;
        box-shadow: $default-shadow;
        cursor: pointer;
    }
}