@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/global_tags';

.carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--base-padding);

    &__section{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $background-color-secondary;
        border-radius: $corner-radius;
        box-shadow: $default-shadow;
    }

    &__outer {
        width: 1420px;
        max-width: 1420px;
        overflow: hidden;
        display: inline-block;
        flex-direction: row;
        align-items: center;
    }

    &__inner {
        display: flex;
        align-items: center;
        transition: transform 0.3s;
    }

    &__arrow {
        width: $arrow-btn-dimen;
        height: $arrow-btn-dimen;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        cursor: pointer;
    }

    &__left-arrow {
        margin-right: var(--base-padding);
        background-image: url('../../assets/left-arrow.png');
        background-position: center;
    }

    &__right-arrow {
        margin-left: var(--base-padding);
        background-image: url('../../assets/right-arrow.png');
        background-position: center;
    }

    &__color-container {
        height: 75px;
        display: flex;
        align-self: center;
        flex-direction: row;
        align-items: center;
        gap: var(--base-padding);
        margin-bottom: var(--base-padding);
    }

    &__color-item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: $default-shadow;
        cursor: pointer;
    }

    &__color-item--selected {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: $default-shadow;
        cursor: pointer;
    }

    &__generate-btn {
        align-self: center;
        margin-bottom: var(--base-padding);
    }
}
