@font-face {
    font-family: 'Avenir Next';
    src: url('../assets/Font/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next';
    src: url('../assets/Font/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: bold;
  }