@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/global_tags';

.item {
    max-width: $generated-item-width;
    width: $generated-item-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--base-padding);

    &__generated-image {
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: $corner-radius*2;
        box-shadow: $default-shadow;
    }

    &__heading {}

    &__details-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        margin-top: var(--base-padding);
    }

    &__details-wrapper {
        width: 192px;
        height: 192px;
        display: flex;
        flex-direction: column;
    }

    &__details-item {
        max-width: 90%;
        box-shadow: $default-shadow;
        border-radius: $corner-radius;
    }

    &__qr {}

    &__color-ribbon{
        height: 20px;
        width: 90%;
        background-color: black;
    }
}