@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/global_tags';

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--base-padding);
    padding: var(--base-padding);
    background-color: $brand-color;

    &__icons{
        display: flex;
        gap: var(--base-padding);
    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: var(--icon-dimen);
        height: var(--icon-dimen);
    }

    &__contact{

    }

    &__copyright-text{
        font-size: small;
    }
}